
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          Hola
        </h1>
        <p>
            Esta va a ser la aplicacion que vamos a ocupar para polla mundialera
        </p>
        <p>

          <a class="btn btn-primary btn-large" href="<%= new_user_session_path %>">Ingresa</a>
        </p>
      </div>
    </div>
  </div>
<div class="row clearfix">
  <div class="col-md-6 column">
    <h2>
      Heading
    </h2>
    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>
    <p>
      <a class="btn" href="#">View details »</a>
    </p>
  </div>
  <div class="col-md-6 column">
    <h2>
      Heading
    </h2>
    <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>
    <p>
      <a class="btn" href="#">View details »</a>
    </p>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
  </div>
</div>