
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          Hola
        </h1>
        <p>
            Esta va a ser la aplicacion que vamos a ocupar para polla de la Copa América 2015
        </p>
        <p>
          <% if user_signed_in? %>
            <%= link_to 'Jugar', new_user_session_path, class: 'btn btn-primary btn-large'%>
          <% else %>
            
            <!-- <a class="btn btn-primary btn-large" href="<%= new_user_session_path %>">Ingresa</a> -->
              <%= link_to 'Ingresa', new_user_session_path, class: 'btn btn-primary btn-large'%>
            
          <% end %>
        </p>
      </div>
    </div>
  </div>
<div class="row clearfix" style=" padding-left: 10px; padding-right: 10px;">
  <div class="col-md-6 column" >
    <h2>
      Bases
    </h2>
    <p>
      Aqui se puede ver las bases para la polla de la copa america 2015
    </p>
    <p>
      <%= link_to 'Ver Bases', bases_path, class: 'btn'%>

    </p>
  </div>
  <div class="col-md-6 column" >
    <h2>
      Tontero Campeón
    </h2>
    <p>
      Montero fue el campeon de la ultima polla. Esperamos que para esta ocación haga trampa.
    </p>
    <p>
      
    </p>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
  </div>
</div>