// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.full-points{
  background-color: #52ff1a;
}
.mid-points{
  background-color: #fcff00;
}
.bet {
  text-align: center;
}