// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xs{
  height: 80px;
}
.btn-large{
  padding-top: 5px;
  height:70px;
  width:100%;
  font-size: 19pt;
}
.sm-btn-bet{

  width:100%;
}

.navbar-brand  img {
    line-height: 40px;
    height: 40px;
  padding-top: 0;
  margin-top: -10px;
}