<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado un vinculo para cambiar tu contrase침a. Puedes hacer esto haciendo click en el siguiente vinculo.</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no solicitaste esto, ignora este correo</p>
<p>Tu contrase침a no cambiar치 hasta que ingreses al link y crees una nueva.</p>
